@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.logo {
    margin: 10px;
}

.nav-link {
    color: #fff;
    font-size: 16px;
}

header>.banner {
    margin-bottom: 5px;
}

.links-bebida {
    display: inline-block;
}

.block-linha {
    height: 100px;
    display: block;
    overflow: hidden;
    text-indent: -1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.line-wrapper {
    height: 100px;
    border: 2px solid #aaa;
    border-radius: 3px;
    background-size: 100%;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}

.line-wrapper:hover {
    background-position: top;
    background-size: 130%;
    transition: 0.2s;
    background-position: center;
    background-repeat: no-repeat;
}

.cat {
    width: 100%;
    transition: all 0.4 ease 0.4;
    border: 1px solid rgb(160, 160, 160);
}

.cat,
.h4 {
    font-size: 16px;
    color: #301d08;
    font-weight: bold;
}

.cat .h4:hover {
    color: #301d08;
}

.cat-tip:hover {
    background: #FFE9A6;
    text-decoration: none;
    transform: translate(0);
}

.nav-link:hover {
    color: #705f2b;
    transition: all 0.4s ease 0.2s;
}

.btn {
    font-size: 16px;
    background: #e0c880;
}

.btn:hover {
    background: #a88d3c;
}

.btn-rm {
    border: none;
    border-bottom: 2px solid #9e8740;
    cursor: pointer;
    font-size: 12px;
    padding: 6px 11px;
    border-radius: 3px;
    background: #e0c880;
}

.btn-rm:hover {
    background: #cbb36d;
}

.prod-link {
    text-decoration: none;
    color: #c7a43d;
}

.prod-link:hover {
    text-decoration: none;
    color: #866b1a;
}

footer {
    font-size: 11px;
    border-top: 1px solid #9e8740;
}

footer .footer-copyright {
    color: #fff;
}

footer a {
    color: #000;
}

#cat-title {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.rel-link h5 {
    font-size: 14px;
}

.product-info {
    font-size: 14px;
}

.nav-head nav ol.breadcrumb {
    background: rgba(255, 255, 255, 0);
    font-size: 12px;
}

.nav-head nav li a:hover {
    color: #9e8740;
    text-decoration: none;
}

#list-desc-dist,
.dist-info {
    font-size: 14px;
}

.dist-info-1,
.dist-info-name {
    font-size: 15px;
}

.dist-desc {
    font-size: 16px;
}

.dist-info-name {
    font-weight: bold;
}

.cool-link {
    display: inline-block;
    color: #301d08;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #301d08;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.imgLogo {
    display: block;
    margin: auto;
}

.cat-bg {
    background: rgb(216, 216, 216);
}

#product-desc {
    padding-left: 15%;
}

.text-info {
    color: #0088a9;
    font-size: 16px;
}


/* .img-produto {
    width: 98%;
} */